@import '../../../sass/mixins/media-queries';

.bg-wrapper-1, .bg-wrapper-2 {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: -1;
}

.bg-wrapper-1[data-route="/"] {
  background-image: url(./bin/skullBgLeft.png);
  background-position: left center;

  @include media_small_mobile {
    background: none;
    display: none;
  }
}

.bg-wrapper-2[data-route="/"] {
  background-image: url(./bin/skullBgRight.png);
  background-position: right center;
}

.content-wrapper {
  position: relative;
  z-index: 0;
}
