//The base template for the website

@import "template/fonts";

* {
	box-sizing: border-box;
	
	@include disable_font_boost;
	@include font_family;
}

body {
	margin:           0;
	padding:          0;
	background-color: #000000;
	color:            $text;
	font-size:        1em;
}

@import "template/tags";
@import "template/layout";
