@import '../../../sass/mixins/compatibility';
@import '../../../sass/mixins/media-queries';
@import '../../../sass/vars/colors.scss';

.social-nav-link {
  @include transitionWithVendors('background-color 400ms');

  background-color: $lightGreen;
  display: inline-block;
  margin: 0 10px;
  padding: 0;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    background-color: #ffffff;
  }

  img {
    display: block;
  }
}

@include media_small_mobile {
  .social-nav-link {
    img {
      height: 40px;
      width: 40px;
    }
  }
}
