//Home page background

#musicpage {
	
	#bgwrapper1 {
		background-size:       contain;
		background-repeat:     no-repeat;
		background-attachment: fixed;
		opacity:               .2;
	}
	
	&.towardsobliteration #bgwrapper1 {
		background-position: right bottom;
		background-image:    url(/img/background/blood-skull.jpg);
	}
	
	&.hallsofmadness #bgwrapper1 {
		background-position: left center;
		background-image:    url(/img/background/spike-eyes.jpg);
	}
	
	@media only screen and (max-height: 800px), only screen and (max-device-height: 800px) {
		&.towardsobliteration #bgwrapper1 {
			background-image: url(/img/background/blood-skull_medium.jpg);
		}
		&.hallsofmadness #bgwrapper1 {
			background-image: url(/img/background/spike-eyes_medium.jpg);
		}
	}
	
	@media only screen and (max-height: 500px), only screen and (max-device-height: 500px) {
		&.towardsobliteration #bgwrapper1 {
			background-image: url(/img/background/blood-skull_small.jpg);
		}
		&.hallsofmadness #bgwrapper1 {
			background-image: url(/img/background/spike-eyes_small.jpg);
		}
	}
	
}
