//Variables for the music page



$smallscreen_w:     980;   //The width at which the small screen will be enabled (in pixels)

$album_art_w:       500px;
$album_art_small_w: 250px;

$album_margin:      200px; //The left margin

$icon_size:         32px;  //Dimensions of purchase link icons


