//Layout for the music page



//Album info

#album-title, #release-date {
	text-align: center;
}
	
#album-title {
	margin:    0 0 .15em;
	font-size: 3em;
}
	
#release-date {
	display:       block;
	margin-bottom: 1.5em;
	font-weight:   bold;
	font-size:     2em;
}



//Table layout

#album-table {
	display:     table;
	min-height:  $album_art_w;
	margin-left: $album_margin;
}
.album-row {
	display: table-row;
}	
.album-col {
	display:        table-cell;
	vertical-align: top;
}



//Tracks

#tracklist ol {
	margin:    0;
	padding:   0 0 0 64px;
	font-size: 16px;
	
	li {
		margin:  0;
		
		.track-title {
			padding: 4px 0;
		}
		&:first-child {
			.track-title {
				padding-top: 0;
			}
		}
		&:last-child {
			.track-title {
				padding-bottom: 0;
			}
		}
		
		span {
			display: block;
		}
		
		.track-lyrics {
			display:     none;
			white-space: pre;
			padding:     0 0 0 8px;
			color:       $light_green;
			font-size:   14px;
		}
	}
}

.track-title {
	font-weight: bold;
}



//When medium screen size is hit, change from a table layout to a vertical layout for album art and
//  track list

@include media_medium_less {
	#album-table, .album-row, .album-col {
		display: block;
	}
	
	#album-table {
		margin-left: 0;
	}
	
	#album-art {
		margin-right: auto;
		margin-left:  auto;
	}
	
	#tracklist ol {
		font-size:    1em;
		li {
			.track-lyrics {
				font-size: 1em;
			}
		}
	}
}



//Change tracklist margins when the display changes from table layout

@include media_medium(#{$smallscreen_w + 1}px) {
	#tracklist ol {
		margin-top:   4em;
		padding-left: 8em;
	}
}



//Smaller tracklist margins when the album art gets smaller

@include album_art_breakpoint {
	#tracklist ol {
		margin-top:   4em;
		padding-left: 4em;
	}
}



//Smaller font on small screens

@include media_small_mobile {
	#album-title {
		font-size: 2em;
	}
		
	#release-date {
		font-size: 1.25em;
	}
}


