// Variables for the music page

$albumArtWidth: 500px;
$albumArtWidthSmall: 250px;

/* The width at which the small screen will be enabled (in pixels). The 'px'
   suffix is deliberately left off the value so it can be used for
   calculations. */
$musicMediaSmall: 980;
