//Apply a margin for the default spacing of sections in the website

@mixin vmargin($top: #{$spacing}, $bottom: #{$spacing}) {
	margin-top:    $top;
	margin-bottom: $bottom;
}

//Apply padding for the default spacing of sections in the website

@mixin vpadding($top: #{$spacing}, $bottom: #{$spacing}) {
	padding-top:    $top;
	padding-bottom: $bottom;
}

//Create an album art background property

@mixin albumArtBackground($title, $file) {
	#album[data-title='#{$title}'] #album-art {
		background-image: url(/img/art/#{$file});
	}
}
