// Purchase link icon size
$iconSize: 32px;

.album-link {
  align-items: center;
  display: flex;
  margin: .5rem 0;

  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.album-link__icon {
  height: $iconSize;
  margin-right: 1rem;
  width: $iconSize;
}

.album-link__text {
  &, &:visited {
    color: #ffffff;
  }
}
